body{
    background-color: hsl(220, 15%, 55%);
    display: flex;
    justify-content: center;
    align-items: center; /* vertical centering */
    height: 100vh;
    margin: 0
}

.card {
    background-color: white;
    width: fit-content;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.card img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.text{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}