body{
    background-color: hsl(220, 15%, 55%);
}

.card {
    background-color: white;
    width: fit-content;
    padding: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.text{
    font-size: 15px;
    text-align: center;
}