body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center; /* vertical centering */
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.card {
    background-color: white;
    display: inline-block;
    max-width: 260px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.card img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.text{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    color:hsl(220, 15%, 55%);
    margin: 15px;
}

.text h3 {
    font-weight: bold;
    color: black;
}

.attribution{
    position: fixed; 
    bottom:10px;
    margin-top: 20px
}